DATABASE_URL=""

# JWT - RS256 keys converted to base64
JWT_SECRET=""
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""

# Cloudflare / AWS S3
CLOUDFLARE_ACCOUNT_ID=""
AWS_BUCKET_NAME="t"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
